.form-field-group {
  margin: 20px 0;
}

.form-field-group label {
  display: block;
  margin-bottom: 8px;
}

.form-field-group input,
select,
textarea {
  width: 100%;
}

.form-field-group input,
select,
button {
  height: 32px;
}
